body {
    background-color: #c7c0c5;
}

h1 {
    color: #333;
    font-family: Arial, sans-serif;
}

p {
color: #555;
font-family: georgia, serif;
}

main{
    margin: 20px;
    padding: 20px;
}

div {
    width: 200px;
    height: 150px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
}